@page
@model RegisterModel
@using WhatWasThatBlog.Services
@using WhatWasThatBlog.Services.Interfaces

@inject IImageService imageService

@{
    ViewData["Title"] = "Register";
}

<h1 class="text-center">@ViewData["Title"]</h1>
<br />
<hr />



<form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">
    <div class="col-md-8 float-start p-2">
        <h2>Create a new account.</h2>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @*this is new code section for handling FirstName data *@
        <div class="form-floating">
            <input asp-for="Input.FirstName" class="form-control" autocomplete="username" aria-required="true" />
            <label asp-for="Input.FirstName"></label>
            <span asp-validation-for="Input.FirstName" class="text-danger"></span>
        </div>
        @*this is new code section for handling LastName data *@
        <div class="form-floating">
            <input asp-for="Input.LastName" class="form-control" autocomplete="username" aria-required="true" />
            <label asp-for="Input.LastName"></label>
            <span asp-validation-for="Input.LastName" class="text-danger"></span>
        </div>
        <div class="form-floating">
            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
            <label asp-for="Input.Email"></label>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>

        <div class="form-floating">
            <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
            <label asp-for="Input.Password"></label>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="form-floating">
            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
            <label asp-for="Input.ConfirmPassword"></label>
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4 float-end p-2">
        <section>
            <div class="form-floating">         

                <h4>Select an Image</h4>

                <div class="form-group">
                    <label asp-for="Input.ImageFile" class="control-label"></label>
                    <input asp-for="Input.ImageFile" type="file" class="form-control" accept=".jpg,.png,.gif,.jpeg"
                                                    onchange="document.getElementById('contactImage').src = window.URL.CreateObjectURL(this.files[0])" />
                    <img id="contactImage" src="~/images/defaultContact.png" class="img-fluid img-thumbnail m-3" style="height: 10rem;">
                    <span asp-validation-for="Input.ImageFile" class="text-danger"></span>
                </div>
               
            </div>
        </section>
    </div>

    <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary mt-2">Register</button>
</form>

@section Scripts {
    
    <partial name="_ValidationScriptsPartial" />
}
