@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>I am a Software Developer coming from a background of many various and beautiful explorations such as Art, and Massage Therapy. My passion is creativity, Software Development
                    is just another pattern with which to create. I became interested in learning to code to
                        make a webiste for my art, and got more and more interested in creating apps and software
                        that would make it possible to create 3D galleries, or turn my art into NFT's.
                </p>
                <p>Then there is the very real solution to the business of being an artist. Being able to create my own system of art database creation
                    is irreplaceable! I'm very excited about the advancement of those personal projects, as well as being a part of a company, developing
                    solutions and making user experiences better!
                </p>
                <p>Check out my <a href="https://triciachitwoodcoding.netlify.app/">profile</a>, and see what other projects I've done!</p>
               
            </div>
        </div>
    </div>
</main>
